[Desktop Entry]
Name=Darktable
GenericName=Virtual Lighttable and Darkroom
GenericName[af]=Virtuele Ligtafel en Donkerkamer
GenericName[ca]=Taula de llum i Cambra fosca virtuals
GenericName[cs]=Virtuální katalog a editor
GenericName[da]=Virtuelt lysbord og mørkekammer
GenericName[de]=Virtueller Leuchttisch und Dunkelkammer
GenericName[el]=Virtual Lighttable and Darkroom
GenericName[en@truecase]=Virtual Lighttable and Darkroom
GenericName[eo]=Virtuala Lumtablo kaj Senluma Ĉambro
GenericName[es]=Mesa de Luz y Cuarto Oscuro Virtuales
GenericName[fi]=Virtuaalinen valopöytä ja pimiö.
GenericName[fr]=Table lumineuse et Chambre noire virtuelles
GenericName[he]=שולחן אור וחדר חושך וירטואלי
GenericName[hu]=Virtuális átvilágító és sötétkamra
GenericName[it]=Tavolo Luminoso e Camera Oscura virtuali
GenericName[ja]=バーチャルのライトテーブルとダークルーム
GenericName[ko_KR]=가상 Lighttable 및 darkroom
GenericName[nb]=Virtuelt lysbord og mørkerom
GenericName[nl]=Virtuele lichtbak en donkere kamer
GenericName[pl]=Wirtualny Stół Podświetlany i Ciemnia
GenericName[pt_BR]=Mesa de Luz e Sala Escura Virtuais
GenericName[ru]=Виртуальные световой стол и проявка
GenericName[sk]=Virtuálny presvetľovací pult a fotokomora
GenericName[sl]=Virtualna osvetljena podlaga in temnica
GenericName[sq]=Fototeka dhe Dhoma e errët virtuale
GenericName[sr]=Виртуелни Светли сто у Тамној соби
GenericName[sr@latin]=Virtuelni Svetli sto u Tamnoj sobi
GenericName[sv]=Virtuellt ljusbord och mörkerrum
GenericName[tr]=Sanal Işık Masası ve Karanlık Oda
GenericName[uk]=Віртуальний світлий стіл і темна кімната
GenericName[zh_CN]=虚拟的光台和暗房
GenericName[zh_TW]=虛擬燈箱與暗房
Comment=Organize and develop images from digital cameras
Comment[af]=Organiseer en ontwikkel beelde van digitale kameras
Comment[ca]=Organitza i revela imatges de càmeres digitals
Comment[cs]=Uspořádejte a vytvářejte snímky z digitálních fotoaparátů
Comment[da]=organisér og fremkald billeder fra digitale kameraer
Comment[de]=Organisiere und entwickle Bilder von Digitalkameras
Comment[el]=οργανώστε και εμφανίστε εικόνες απο ψηφιακές μηχανές
Comment[en@truecase]=Organize and develop images from digital cameras
Comment[eo]=Organizi kaj disvolvi bildojn de ciferecaj fotiloj
Comment[es]=Organice y revele fotografías de cámaras digitales
Comment[fi]=Hallinnoi ja kehitä digitaalikameroilla otettuja valokuvia
Comment[fr]=Organiser et développer les images d’un boîtier numérique
Comment[he]=ארגן ופתח תמונות ממצלמות דיגיטליות
Comment[hu]=Digitális fényképező képeinek rendezése, kidolgozása
Comment[it]=Organizza e sviluppa le immagini della tua fotocamera digitale
Comment[ja]=デジタルカメラで撮影した画像を整理し現像します
Comment[ko_KR]=디지털 카메라에서 이미지를 정리하고 현상하세요
Comment[nb]=Organiser og fremkall bilder fra digitale kamera
Comment[nl]=Organiseer en ontwikkel afbeeldingen van digitale camera's
Comment[pl]=Organizuj i obrabiaj zdjęcia z aparatów cyfrowych
Comment[pt_BR]=Organize e trate imagens de câmeras digitais
Comment[ru]=Организация и обработка цифровых фотографий
Comment[sk]=Organizuje a vyvoláva obrázky z digitálnych fotoaprátov
Comment[sl]=Organizira in razvija slike digitalnih kamer
Comment[sq]=Organizoni dhe zhvilloni imazhet nga fotoaparatet
Comment[sr]=Организујте и развијте слике из дигиталних камера
Comment[sr@latin]=Organizujte i razvijte slike iz digitalnih kamera
Comment[sv]=Organisera och utveckla bilder från digitalkameror
Comment[tr]=Dijital kameralardan görüntüleri düzenleyin ve geliştirin
Comment[uk]=Організація і обробка цифрових фотографій
Comment[zh_CN]=组织并冲印来自数码相机的图片
Comment[zh_TW]=整理和顯影來自數位相機的影像

X-GNOME-FullName=Darktable Photo Workflow Software

Version=1.0

Type=Application
Categories=Graphics;Photography;GTK;
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=graphics;photography;raw;
Keywords[af]=grafika;fotografie;raw;
Keywords[ca]=graphics;photography;raw;
Keywords[cs]=grafika;fotografie;RAW;
Keywords[da]=grafik;fotografi;raw;
Keywords[de]=Graphik;Grafik;Photographie;Fotografie;RAW;
Keywords[el]=graphics;photography;raw;
Keywords[en@truecase]=graphics;photography;raw;
Keywords[eo]=grafikaĵoj;foto;kruda;
Keywords[es]=gráficos;fotografía;raw;
Keywords[fi]=Grafiikka;Valokuvaus;RAW;
Keywords[fr]=graphisme;photographie;RAW;
Keywords[he]=גרפיקה;צילום;raw;
Keywords[hu]=grafika;fénykép;fotó;raw;
Keywords[it]=Grafica;fotografia;RAW;
Keywords[ja]=グラフィックス、写真、RAW
Keywords[ko_KR]=그래픽스;사진;RAW;
Keywords[nb]=grafikk;fotografering;raw;
Keywords[nl]=grafisch;fotografie;raw;
Keywords[pl]=grafika;fotografia;raw;
Keywords[pt_BR]=gráfico;fotografia;raw;
Keywords[sk]=grafika;fotografovanie;fotografie;raw;surový;
Keywords[sl]=grafika;fotografije;surove;
Keywords[sq]=graphics;photography;raw;
Keywords[sr]=graphics;photography;raw;grafika:fotografija;rav;графика;фотографија;рав;развијање;razvijanje
Keywords[sr@latin]=graphics;photography;raw;grafika:fotografija;rav;grafika;fotografija;rav;razvijanje;razvijanje
Keywords[sv]=grafik;fotografi;rå;
Keywords[tr]=grafik;fotoğrafçılık;raw;
Keywords[uk]=graphics;photography;raw;
Keywords[zh_CN]=graphics;photography;raw;图片;图像;摄影;
Keywords[zh_TW]=圖形、攝影、RAW 檔;

Exec=/home/yurix/Documentos/my-darktable/install/bin/darktable %U
TryExec=/home/yurix/Documentos/my-darktable/install/bin/darktable
Terminal=false
StartupNotify=true

MimeType=application/x-darktable;image/x-dcraw;image/x-adobe-dng;image/x-canon-cr2;image/x-canon-crw;image/x-fuji-raf;image/x-kodak-dcr;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-nikon-nrw;image/x-olympus-orf;image/x-panasonic-rw;image/x-panasonic-rw2;image/x-pentax-pef;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/jpeg;image/png;image/tiff;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-floatmap;image/vnd.radiance;image/avif;image/x-canon-cr3;image/x-exr;image/aces;image/heif;image/heic;image/hej2k;image/avci;image/jp2;image/jxl;image/webp;image/qoi;image/fits

Icon=darktable
StartupWMClass=darktable

X-Unity-IconBackgroundColor=#252525

